{% extends 'container.html.twig' %}

{% block title %}Edit Room
{% endblock %}

{% block body %}

	<a class="btn btn-light align-self-start m-1" href="{{ path('bed_and_breakfast_index') }}">back to list</a>

	<h1>Edit Room</h1>

	{{ include('bed_and_breakfast/_form.html.twig', {'button_label': 'Update'}) }}

	<div class="d-flex align-self-end flex-row">
		{{ include('bed_and_breakfast/_delete_form.html.twig') }}
	</div>
{% endblock %}
